html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

h1 {
  font-size: 1.75rem;
}

.error {
  color: red;
  font-size: 18px;
}

#fechared {
  color: rgb(202, 44, 44);
}
.obligatorio{
  color: red;
}

:where(img, svg, video, canvas, audio, iframe, embed, object) {
  display: initial !important;
}