html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

h1 {
  font-size: 1.75rem;
}

.error {
  color: red;
  font-size: 18px;
}

#fechared {
  color: red;
  font-weight: 600;
}
.obligatorio{
  color: red;
}

:where(img, svg, video, canvas, audio, iframe, embed, object) {
  display: initial !important;
}

.icon-notify{
  color: white;
}

div#card-mail.card {
  max-width: max-content !important;
}
.resetPassword{
  cursor: pointer;
}

.selectPage {
  background-color: rgb(68, 110, 110);
  border-color: 10px solid gray ;
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
}