html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

h1 {
  font-size: 1.75rem;
}

.error {
  color: red;
  font-size: 18px;
}

#fechared {
  color: red;
  font-weight: 600;
}
.obligatorio{
  color: red;
}

:where(img, svg, video, canvas, audio, iframe, embed, object) {
  display: initial !important;
}

.icon-notify{
  color: white;
}

div#card-mail.card {
  max-width: max-content !important;
}
.resetPassword{
  cursor: pointer;
}

select.selectPage {
  background-color: rgb(218, 218, 218);
  max-width: 10rem;
  max-height: 4rem;
  margin: 1rem 0rem 1rem 0.5rem;
  padding: 0rem 0.5rem 0rem 1rem;
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
}

.tdSelect{
  cursor: pointer;
}

.tdSelect:hover{
  color: blue;
  transform: scale(1.1);
  cursor: pointer;
  -webkit-transform: scale(1.1);
  -moz-transform: scale(1.1);
  -ms-transform: scale(1.1);
  -o-transform: scale(1.1);
}

.navbar-dark .navbar-nav .nav-link.active {
  background-color: transparent;
}